.menubar {
  display: flex;
  justify-content: space-around;
  min-width: 1280px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 10px;
}
